<ul id="navbar" class="row-container">
    <li class="row-item"><a href="/">Home</a></li>
    <li class="row-item"><a href="/register">Register</a></li>
    <li class="row-item" id="userlogin">
        <form action="/login" method="post">
            <label for="loginUsername">Username</label>
            <input id="loginUsername" type="text" name="username"/>
            <label for="loginUsername">Password</label>
            <input id="loginPassword" type="password" name="password"/>
            <input type="submit" value="Submit"/>
        </form>
    </li>
</ul>