<!DOCTYPE html>
<html>
{{>partials/head}}

<body>

{{>partials/navbar}}

<div>
Id: {{this.id}}
</div>
<form method="post" action="/users/{{this.id}}/edit">
    <input name="id" type="hidden" value="{{this.id}}"/>
    <label>Username:
        <input name="username" type="text"/>
    </label>
    <br>
    <label>Password:
        <input name="password" type="password"/>
    </label>
    <br>
    <input type="submit"/>
</form>

</body>
</html>