<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Handlebars Demo</title>
  </head>
  <body>
    <form action="/users" method="post">
      <label for="newUserName">Username</label>
      <input type="text" name="username" id="newUserName">
      
      <label for="newUserPassword">Password</label>
      <input type="password" name="password" id="newUserPassword">

      <input type="submit" value="Submit">
    </form>
    {{> partials/list_users}}
  </body>
</html>