<div>
Id: {{this.id}}
<br>
Username: {{this.username}}
<br>
Password: {{this.password}}
</div>
<div>
    <form action="/users/{{this.id}}/edit">
        <input type="submit" value="Muokkaa"/>
    </form>
</div>